body {
    display: flex;
    font-family: 'Montserrat', sans-serif;

}



.form {
    padding: 20px;
    padding-top: 150px;
    
    }

/* .form-elements {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

   

}*/

.form-elements {
    column-count: 2;
}


.form-elements > label {
    display: block;
}





*, *:before, *:after {
    box-sizing: border-box;
  }

  input[type=text], input[type=password], input[type=email] {
    padding:5px;
    margin:5px 0; 
    width: 75%;
    border-style: 2px solid grey;
    
}
